.navbar {
	background-color: #206C3A;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navbar__nav {
	display: flex;
	flex-direction: column;

	gap: 1px;
	background-color: #206C3A;
}

.navbar__option {
	font-size: 20px;
	background-color: #295135;
	text-decoration: none;
	color: white;
    &:hover {
        background-color: #0E402D;
    }
}

.navbar__nav--open {
	width: 300px;
	transition: width 0.3s;
}
.navbar__nav--closed {
	width: 50px;
	transition: width 0.3s;
}

.navbar__option-content {
	display: flex;
	width: 100%;
	gap: 10px;
}

.navbar__toggle-btn {
	background-color: #295135 !important;
	color: white !important;
	border-radius: 0 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-width: 45px !important;
}

.navbar__toggle-icon--open {
	transition: transform 0.3s;
	transform: rotate(0deg);
}
.navbar__toggle-icon--closed {
	transition: transform 0.3s;
	transform: rotate(180deg);
}
